#map {
    height: 99vh;
    width: 100%;
}

#buscador {
    z-index: 1000;
}

/* mapa.css */
.filtro-etiquetas {
    max-width: 250px;
}

.filtro-etiquetas select {
    width: 100%;
}

/* Botones */
.buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

/* Estilos comunes de los botones */
.btn {
    padding: 12px 24px;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    transition: transform 0.3s, background 0.3s, box-shadow 0.3s;
}

/* Botón de Registro */
.btn-register {
    background-color: yellow;
    color: black;
    border: 2px solid yellow;
}

.btn-register:hover {
    background-color: #ffea00;
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(255, 255, 0, 0.7);
}

/* Botón de Login */
.btn-login {
    background-color: black;
    color: yellow;
    border: 2px solid yellow;
}

.btn-login:hover {
    background-color: #222;
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(255, 255, 0, 0.7);
}

/* Botón Mapa */
.btn-map {
    background-color: black;
    color: yellow;
    border: 2px solid yellow;
}

.btn-map:hover {
    background-color: #222;
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(255, 255, 0, 0.7);
}

/* Botón Gincana */
.btn-gincana {
    background-color: black;
    color: yellow;
    border: 2px solid yellow;
}

.btn-gincana:hover {
    background-color: #222;
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(255, 255, 0, 0.7);
}

/* Botón de Admin */
.btn-admin {
    background-color: black;
    color: yellow;
    border: 2px solid yellow;
}

.btn-admin:hover {
    background-color: #222;
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(255, 255, 0, 0.7);
}

/* Botón de Logout */
.btn-logout {
    background-color: black;
    color: yellow;
    border: 2px solid yellow;
}

.btn-logout:hover {
    background-color: #222;
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(255, 255, 0, 0.7);
}

/* Mejorar el aspecto del select múltiple en el SweetAlert */
.swal2-popup .form-control[multiple] {
    height: auto;
    min-height: 38px;
}

/* RESPONSIVE */
@media screen and (max-width: 768px) {}