<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Redirige a HTTPS (opcional)
    # RewriteCond %{HTTPS} off
    # RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Maneja las solicitudes a la raíz
    RewriteRule ^$ index.php [L]

    # Maneja las solicitudes a archivos/directorios que no existen
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
